services:
  backend:
    image: ${DOCKER_REGISTRY-}backend
    container_name: Api
    build:
      context: .
      dockerfile: Marketspot.Main/Dockerfile
    depends_on:
        - marketSpot.database
    ports: 
        - 5066:5066
        - 7149:7149
  
  marketSpot.database:
    image:  postgres:latest
    container_name: Database
    restart: always
    environment:
        - POSTGRES_DB=marketspot
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=Test123$
    logging:
        options:
            max-size: 10m
            max-file: "3"
    volumes:
      - marketspot-db:/var/lib/postgresql/data 
    ports:
        - 9876:5432

  marketSpot.pgadmin:
    image: dpage/pgadmin4
    container_name: Pgadmin
    depends_on:
      - marketSpot.database
    user: root
    restart: always
    ports:
        - 8080:80
    environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: Test123$
        PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - ./servers.json:/pgadmin4/servers.json

  
  # frontend:
  #   image: ${DOCKER_REGISTRY-}frontend
  #   container_name: Frontend
  #   build:
  #       context: ../Frontend/
  #       dockerfile: Dockerfile
  #   ports:
  #       - 5173:5173
  #   depends_on:
  #       - backend  
volumes:
    marketspot-db:
    pgadmin-data: