:root {
  --main-color: #131921;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

.text-white {
  color: white;
}
